@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
	--clr-primary-bg: #252422;
	--clr-secondary-bg: #403d39;
	--clr-text-primary: #fffcf2;
	--clr-text-secondary: #ccc5b9;
	--clr-texture-btn: #eb5e28;
	--clr-texture-btn-hover: #eb5f28c0;
}

html {
	font-family: 'Outfit', sans-serif;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	background-color: var(--clr-primary-bg);
}

/* Global */
.container {
	padding: 0 4rem;
}

.sticky {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
}

/* Navbar */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.5rem;
	background-color: var(--clr-primary-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

#logo {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--clr-text-primary);
}

#logo span {
	font-weight: 300;
	color: var(--clr-texture-btn-hover);
}

#menu {
	display: flex;
	gap: 2rem;
}

.nav-link {
	color: var(--clr-text-primary);
	font-size: 1rem;
	font-weight: 300;
	border-bottom: 1px solid transparent;
	transition: 0.45s;
}

.nav-link:hover,
.active {
	color: var(--clr-text-secondary);
	border-bottom: 1px solid var(--clr-texture-btn-hover);
}

#menu-icon {
	font-size: 1.5rem;
	color: var(--clr-text-primary);
	cursor: pointer;
	display: none;
	z-index: 3;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 2rem;
	}

	#menu-icon {
		display: initial;
	}

	#menu {
		position: absolute;
		flex-direction: column;
		top: 0;
		right: -500px;
		background-color: var(--clr-primary-bg);
		height: fit-content;
		padding: 1rem 2rem;
		width: 60%;
		max-width: 320px;
		height: 100vh;
		transition: 0.45s;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
		z-index: 1;
	}

	#menu.open {
		right: 0;
	}

	#menu .nav-link:nth-child(1) {
		margin-top: 4rem;
	}

	.nav-link:hover {
		border-bottom: 1px solid transparent;
	}
}
