@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
	--clr-primary-bg: #252422;
	--clr-secondary-bg: #403d39;
	--clr-text-primary: #fffcf2;
	--clr-text-secondary: #ccc5b9;
	--clr-texture-btn: #eb5e28;
	--clr-texture-btn-hover: #eb5f28c0;
}

html {
	font-family: 'Outfit', sans-serif;
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	background-color: var(--clr-primary-bg);
}

/* Global */
.container {
	padding: 0 4rem;
}

.sticky {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

/* Navbar */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.5rem;
	background-color: var(--clr-primary-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

#logo {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--clr-text-primary);
}

#logo span {
	font-weight: 300;
	color: var(--clr-texture-btn-hover);
}

#menu {
	display: flex;
	gap: 2rem;
}

.nav-link {
	color: var(--clr-text-primary);
	font-size: 1rem;
	font-weight: 300;
	border-bottom: 1px solid transparent;
	transition: 0.45s;
}

#menu:nth-last-child() {
	color: var(--clr-texture-btn);
}

.nav-link:hover,
.active {
	color: var(--clr-text-secondary);
	border-bottom: 1px solid var(--clr-texture-btn-hover);
}

#menu-icon {
	font-size: 1.5rem;
	color: var(--clr-text-primary);
	cursor: pointer;
	display: none;
	z-index: 3;
}

.user-admin {
	color: var(--clr-texture-btn);
	font-weight: 600;
	transition: 0.2s;
}

.user-admin:hover {
	color: var(--clr-texture-btn-hover);
}

main {
	position: relative;
	top: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

#hero {
	height: calc(100vh - 4rem);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hero h2 {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--clr-text-primary);
	letter-spacing: 1.2px;
	margin-bottom: 0.8rem;
}

#hero h1 {
	font-size: 3rem;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
	color: var(--clr-texture-btn);
	margin-bottom: 0.8rem;
}

#hero p {
	font-size: 1.2rem;
	font-weight: 300;
	color: var(--clr-text-secondary);
	margin-bottom: 0.8rem;
}

#btn-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.btn {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--clr-text-primary);
	text-transform: uppercase;
	border: 1px solid var(--clr-texture-btn);
	padding: 0.7rem 3rem;
	background-color: var(--clr-texture-btn);
	transition: 0.1s;
	width: 200px;
}

.btn:hover {
	background-color: var(--clr-texture-btn-hover);
}

form {
	border: 1px solid var(--clr-secondary-bg);
	padding: 1rem 3rem;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
}

form p {
	margin-bottom: 2rem;
}

form p label {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 300;
	display: block;
	text-align: center;
	color: var(--clr-text-secondary);
	margin-bottom: 0.4rem;
}

form input {
	background-color: var(--clr-secondary-bg);
	border: none;
	height: 1.3rem;
	color: var(--clr-text-secondary);
	text-align: center;
	display: block;
}

form button {
	background-color: var(--clr-texture-btn);
	border: none;
	padding: 0.5rem 2rem;
	width: 100%;
	max-width: 200px;
	text-transform: uppercase;
	color: var(--clr-text-secondary);
	font-weight: 600;
	letter-spacing: 1.4px;
	transition: 0.3s;
	cursor: pointer;
	font-family: 'Outfit', sans-serif;
	margin-bottom: 2rem;
}

form button:hover {
	background-color: var(--clr-texture-btn-hover);
}

.alt-link {
	color: var(--clr-texture-btn-hover);
	font-size: 0.8rem;
	font-weight: 300;
	text-align: center;
	transition: 0.3s;
}

.alt-link:hover {
	color: var(--clr-texture-btn);
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 2rem;
	}

	#menu-icon {
		display: initial;
	}

	#menu {
		position: absolute;
		flex-direction: column;
		top: 0;
		right: -500px;
		background-color: var(--clr-primary-bg);
		height: fit-content;
		padding: 1rem 2rem;
		width: 60%;
		max-width: 320px;
		height: 100vh;
		transition: 0.45s;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.7);
		z-index: 1;
	}

	#menu.open {
		right: 0;
	}

	#menu .nav-link:nth-child(1) {
		margin-top: 4rem;
	}

	.nav-link:hover {
		border-bottom: 1px solid transparent;
	}
}

@media screen and (max-width: 480px) {
	#btn-box {
		flex-direction: column;
		gap: 1rem;
	}

	.btn {
		width: 100%;
	}
}
