{% extends "base.html" %} {% block content %}
<main class="container">
	<div id="account">
		<div class="transactions">
			{% if transactions %}
			<div class="card">
				<div>
					<h2>Ref:</h2>
					<h3>{{ transaction.reference }}</h3>
				</div>
				<div>
					<h2>R <span>{{ transaction.amount }}</span></h2>
				</div>
			</div>
			{% else %}
			<div class="card">
				<h3 class="info">You have not transactions</h3>
			</div>
			{% endif %}
		</div>
		<div class="banner">
			<h1>R {{ account.balance }}</h1>
			<p class="info label">Balance</p>
		</div>
		<div class="detail">
			<div class="card">
				<h2>Account Name</h2>
				<h2>{{ account.name }}</h2>
			</div>
			<div class="card">
				<h2>Account Number</h2>
				<h2>{{ account.number }}</h2>
			</div>
			<div class="card">
				<h2>Account Status</h2>
				<h2
					class="{% if account.status != 'active' %}error_message{% else %}message{% endif %}"
				>
					{{ account.status }}
				</h2>
			</div>
			<div class="card">
				<h2>Created</h2>
				<h2>{{ account.date_created }}</h2>
			</div>
		</div>
		<div class="btn-box">
			<a href="{% url "delete-account-form" account.id %}" class='btn delete'>Delete Account</a>
		</div>
	</div>
</main>
{% endblock content %}
