{% extends "base.html" %} {% block content %}
<main class="container">
	<div id="accounts">
		{% if accounts %} {% for account in accounts %}
		<a href="{% url "account-detail" pk=account.id %}">
			<div class="card">
				<h2>{{ account.name.upper }}</h2>
				<h3>ACC: {{ account.number }}</h3>
				<p class="balance">
					Current balance:<span>R {{ account.balance }}</span>
				</p>
			</div>
		</a>
		{% endfor %} {% else %}
		<div class="card">
			<p class="info">You have no open accounts.</p>
		</div>
		{% endif %}
	</div>
	<div class="accounts btn-box">
		<a href="{% url "create-account" %}" class="btn">Create Account</a>
	</div>
</main>
{% endblock content %}
