{% extends "base.html" %} {% block content %} {% if user.is_authenticated %}
<main>
	<section id="hero" class="container">
		<h1>Your are logged in as {{ user.first_name }}</h1>
	</section>
</main>
{% else %}
<main>
	<section id="hero" class="container">
		<div class="content">
			<h2>Welcome.</h2>
			<h1>Nebula Banking</h1>
			<p>
				Greatest banking solutions for any of your situations. Bank with us and enjoy the
				best benefits out there!
			</p>
			<div id="btn-box">
				<a href="" class="btn">Login</a>
				<a href="" class="btn">Register</a>
			</div>
		</div>
	</section>
</main>
{% endif %} {% endblock content %}
