{% extends "base.html" %} {% block content %} {% if user.is_authenticated %}
<main>
	<section id="dashboard" class="container">
		<div class="banner">
			<h1>R {{ balance }}</h1>
			<p class='info'>Available balance</p>
		</div>
		<div class="detail">
			<a href="{% url "withdraw" %}">
				<div class="card">
					<p>Withdraw</p>
				</div>
			</a>
			<a href="{% url "deposit" %}">
				<div class="card">
					<p>Deposit</p>
				</div>
			</a>
			<a href="{% url "pay" %}">
				<div class="card">
					<p>Pay</p>
				</div>
			</a>
			<a href="{% url "user-detail" request.user %}">
				<div class="card">
					<p>Edit Profile</p>
				</div>
			</a>
		</div>
		<div class="transactions">
			{% if transactions %}
			{% for transaction in transactions %}
			<div class="card">
				<p class="info">{{ transaction.timestamp|date:"M Y, d @ H:i" }}</p>
				<div class="transaction-parent">
					{% if transaction.account.user != user %}
					<h3>From:</h3>
					{% else %}
					<h3>Account:</h3>
					{% endif %}
					<p>{{ transaction.account.name.upper }}</p>
				</div>
				<div class="transaction-data">
					<h3>Reference:</h3>
					<p>{{ transaction.reference.capitalize }}</p>
				</div>
				<div class="amount"><p>R {{ transaction.amount }}</p></div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</section>
</main>
{% else %}
<main>
	<section id="hero" class="container">
		<div class="content">
			<h2>Welcome.</h2>
			<h1>Nebula Banking</h1>
			<p>
				Greatest banking solutions for any of your situations. Bank with us and enjoy the
				best benefits out there!
			</p>
			<div class="btn-box">
				<a href="{% url "login" %}" class="btn">Login</a>
				<a href="{% url "register" %}" class="btn">Register</a>
			</div>
		</div>
	</section>
</main>
{% endif %} {% endblock content %}
