<header id='navbar' class='container sticky'>
    <div class="logo">
        <a href="{% url "home" %}" id="logo">Nebula<span>Banks</span>.</a>
    </div>
    {% if user.is_authenticated %}
    <i class='bx bx-menu' id='menu-icon'></i>
    <nav id="menu">
        <a href="{% url "home" %}" class="nav-link">Home</a>
        <a href="" class="nav-link">About</a>
        <a href="" class="nav-link">Services</a>
        <a href="" class="nav-link">Contact</a>
        <a href="{% url "logout" %}" class="nav-link user-admin">Logout</a>
    </nav>
    {% else %}
    <i class='bx bx-menu' id='menu-icon'></i>
    <nav id="menu">
        <a href="{% url "home" %}" class="nav-link">Home</a>
        <a href="" class="nav-link">Services</a>
        <a href="" class="nav-link">Contact</a>
        <a href="{% url "login" %}" class="user-admin">Login</a>
        <a href="{% url "register" %}" class="user-admin">Register</a>
    </nav>
    {% endif %}
    
</header>